body {
    background: #f5f6f8;
}

.summary-card {
    border: none;
    border-radius: 15px;
}

.summary-card h4 {
    margin-top: 8px;
}

.card {
    border-radius: 15px;
}

.transaction {
    background: white;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 10px;
}

.amount {
    font-size: 18px;
    font-weight: bold;
}